.fira-code-300 {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 10px;
  padding: 10px;
  font-family: "Fira Code", monospace;
  color: #222222;
  background-color: #ec3750;
}

footer {
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin-top: 40px;
  background-color: #338eda;
  color: #ffffff;
  border-radius: 25px;
}

.error-page {
  text-align: center;
  color: #ffffff;

}

.navbar {
  background-color: #338eda;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px; 
  height: 100px;
  box-sizing: border-box;
  border-radius: 15px;
}

.branding {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
}

.favicon {
  width: 90px;
  height: auto;
  display: block;
  border-radius: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}

.navbar ul li:hover {
  text-decoration: underline;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.branding h1 {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
}

.org {
  background-color: #338eda;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.org:hover {
  background-color: #2874c2;
}

.org img {
  width: 100px;
  height: auto;
  border-radius: 20px;
}

.button {
  background-color: #338eda;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  background-color: #2874c2;
  cursor: pointer;
}



